
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=


NEXT_PUBLIC_BASE_PROVISION_API=https://provision.clawkai.com
NEXT_PUBLIC_ADMIN_EMAILS=

# RPC + token addresses for the balance tab (AVAX RPC + WAVAX have defaults if omitted)
NEXT_PUBLIC_AVAX_RPC_URL=https://avalanche-c-chain-rpc.publicnode.com
NEXT_PUBLIC_WAVAX_ADDRESS=0xB31f66AA3C1e785363F0870B0fcb8727429d8900
NEXT_PUBLIC_ARENA_TOKEN_ADDRESS=0xB8d7710f7d8349A506b75dD184F05777c82dAd0C
NEXT_PUBLIC_GLADIUS_TOKEN_ADDRESS=0x34a1D2105dd1b658A48EAD516A9CE3032082799C
